<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Customer</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Images</h1>
    <div class="alert alert-success alert-dismissible fade show" role="alert"  th:if="${message}">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="input-group mb-3">
        <form method="POST" enctype="multipart/form-data" th:action="@{/admin/files}" class="input-group" accept="images/*">
          <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
        </form>
    </div>
    <div class="container">
        <h4 class="h4">Image List :</h4>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">-</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="image : ${files}">
            <td th:text="${image.name}"></td>
            <td><img th:src="@{${image.link}}" class="img-thumbnail" width="200" height="200"></td>
            <td><a class="btn btn-outline-danger btn-sm" th:href="@{/admin/files/delete(key=${image.name})}">Delete</a></td>
          </tr>
          </tbody>
        </table>
    </div>
</section>
</body>
</html>