<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>


<section layout:fragment="content">
  <div class="container">
    <h1>Project List</h1>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th scope="col">#UUID</th>
        <th scope="col">Project_Name</th>
        <th scope="col">Project_Description</th>
        <th scope="col">Image</th>
        <th scope="col">/</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="p : ${projects}">
        <th scope="row">1</th>
        <td th:text="${p.id}"></td>
        <td th:text="${p.projectName}"></td>
        <td th:text="${p.projectDescription}"></td>
        <td th:text="${p.projectImage.name}"></td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a th:href="@{/admin/projects/delete(id=${p.id})}" th:text="Delete" class="btn btn-outline-danger btn-sm"></a>
            <a th:href="@{/admin/projects/edit(id=${p.id})}" th:text="Edit" class="btn btn-outline-success btn-sm"></a>
            <a th:href="@{/admin/tasks(id=${p.id})}" th:text="Task_Manager" class="btn btn-outline-info btn-sm"></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <a th:href="@{/admin/projects/new}" class="btn btn-primary"> Create new project</a>

  </div>

</section>

</body>
</html>