<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout.html}">
<html lang="en">
<!-- CSS only -->
<head>
  <meta charset="UTF-8">
  <title>Project details</title>
</head>
<body>
<section layout:fragment="content">
  <h1 th:text="${project.projectName}"></h1>
  <div class="container">
    <div class="product-info smart-form">
      <div class="row">
        <div >
          <div class="rating">
            <label ><i class="fa fa-star text-warning"></i></label>
            <label ><i class="fa fa-star text-warning"></i></label>
            <label ><i class="fa fa-star text-warning"></i></label>
            <label ><i class="fa fa-star"></i></label>
            <label ><i class="fa fa-star"></i></label>
          </div>
        </div>
        <div >
          <h5 class="h5" th:text="${project.id}"></h5>
        </div>
      </div>
    </div>
  <p th:text="${project.projectDescription}"></p>
  <a th:href="@{/admin/projects/edit(id=${project.id})}" sec:authorize="hasAuthority('ADMIN')" th:text="Edit" class="btn btn-outline-warning btn-sm"></a>
  </div>
</section>

</body>
</html>